
.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 70px;
    margin-left: 1rem;
    position: absolute;
    top: 13rem;
}


main {
    width: 100%;
    height: 20rem;
    margin-top: 5rem;
    box-shadow: 0px 0px 17px 5px grey;
    display: flex;
    justify-content: center;
}

.produtos {
    display: flex;
    background-color: white;
    width: 100%;
    height: 15rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem;
    margin-top: 64px;

}


.box {
    width: 25%;
    height: 100%;
    margin: 7px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 5px grey;
}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.carrinho{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.img-home {
    width: 100%;
    height: inherit;
    opacity: .9;
}

.destaque2:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;



