
.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 70px;
    margin-left: 1rem;
    position: absolute;
    top: 13rem;
}

ul a{
    color: black;
}
i{
    color: black;
 }

main {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho{
width: 65%;
height: 15rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: 1.5rem;
    font-family: Montserrat, sans-serif;
}
.container{
    display: flex;
    background-color: white;
    width: 100%;
    height: 25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem;
    margin-top: 64px;
}

.container-2{
    display: flex;
    background-color: white;
    width: 100%;
    height: 25rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem;
    margin-top: 64px;
    flex-wrap: wrap;
}


.produto{
    width: 25%;
    height: 100%;
    margin: 7px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;

}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}

.carrinho{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container img {
    width: 15rem;
    height: 15rem;
    padding-bottom: 1rem;
    
}

.img-home {
    width: 100%;
    height: 34rem;
    box-shadow: 0px 0px 17px 5px grey;
   
}
main div {
    width: 70%;
    height: 35rem;
}

.produto img:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}

.produto-container-2{    
    min-height: 300px;
    width: 32%;
}