
.title {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 70px;
    margin-left: 1rem;
    position: absolute;
    top: 13rem;
}

ul a{
    color: black;
}
i{
    color: black;
}

main {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho{
width: 65%;
height: 15rem;
}

h3 {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    letter-spacing: 1.5rem;
    font-family: Montserrat, sans-serif;
}
.container{
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
    justify-content:space-between;
    align-items: center;
    padding: 1rem 8rem;
    margin-top: 64px;
    
           
}

.container-2{
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    margin-top: 64px;
    flex-wrap: wrap;
}


.produto{
    width: 25%;
    height: 100%;
    margin: 7px;
    background-color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 7px;

}

.video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
}


.container img {
    width: 15rem;
    height: 15rem;
    padding-bottom: 1rem;
    
}

.img-home {
    box-shadow: 0px 0px 17px 5px grey;
    max-width: 75%;
    height: auto;
    margin: 2rem auto;
}




.produto img:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}

.produto-container-2{    
    min-height: 300px;
    width: 32%;
}
.truck img{
    width: 13rem;
    height: 7rem;
    padding-bottom: 1rem; 

}

.produto button {
    cursor: pointer;
    background-color: #202899;
    border-radius: 4px;
    color: white;
    padding: 4px;
    border: none;
}

@media (max-width: 600px){

.produto{
   width: 100%;
}

.container{
    flex-wrap: wrap;
}

}