.conecte{
    width:100%;
    display:flex;
    justify-content:center;
    margin-top: 5rem;
}

.style{
    letter-spacing: 1rem;
    margin-bottom: 1rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 0;
    height: 2rem;
}

.buttom-black {
    background-color: black;
    color: white;
    letter-spacing: .5rem;
    height: 2rem;
    margin-bottom: 2rem;
    width: 100%;
}

.buttom-facebook {
    background-color:#3D7EDF ;
    color: white;   
    letter-spacing: .5rem;
    height: 2rem;
    border: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login {
    font-size: 1.2rem;
    letter-spacing: .5rem;
    margin-bottom: 1rem
}

.width-30 {
    width: 25%;
}

.input-line {
    display: flex;
    justify-content: space-between;
}

.fb-image {
    height: 90%;
}
