main {
padding: 5rem;
}

h2 {
    font-size: 3rem;
    text-align: center;
}


.novidades {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 7rem;
    margin-top: 4px;


}

.display-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;

}
.button-confirmar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 13rem;
    margin-top: 1rem;

 

}

.dados-editar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; 
    margin-top: 3rem;


}

.cpf-pagamento {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.box-confirmacoes {
    width: 100%;
    margin-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;


}