* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

main{
        height: 100%;
        display: flex;
        margin-top: 6rem;    
 } 
 ul a{
    color: black;
 }

 i{
    color: black;
 }

 .filter{
    border-radius: 5px;
    box-shadow: 0px 0px 17px 5px grey;
    padding: 1rem;
    border-radius: 10px;
    background-color: #D9D9D9;
    letter-spacing: 1px;
}

.filter p{
    margin-bottom: 1rem;
    font-size:1rem; 
    letter-spacing: 1px;
    text-align: center;
    font-family:Montserrat, sans-serif;
}

.input2{
    display: flex;
    margin: 8px;
    text-align: center;
    flex-direction: column;
}

.input-tamanho{
    display: flex;
    margin: 6px;
    text-align: center;
    gap:8px;
}
.input2 input:hover{
    background-color: #b4b0b0;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.4;
}
.limpar{
    font-family:Montserrat, sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 15px;
}
.limpar:hover{
    background-color: #b4b0b0;
    transition: all 0.5s;
    cursor: pointer;
}
.produtos{
    margin:0 3rem 10rem 10rem;
    padding-left: 14rem;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    height: 15rem;
}

.destaque2{    
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    width: 15rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 17px 5px grey;
}
.destaque2:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.2);
    transition: all 0.5s;
    cursor: pointer;
}




















 
 
 
















/**






     .produtos{
        display: flex;
        align-items: center;
        justify-content: center;
     }

     .produtos .destaque2{
     margin: 1rem 5rem;
     width: 30%;
     border-radius: 5px;
     box-shadow: 0px 0px 17px 5px grey;
     }
    p{
        text-align: left;
    }
    
    .destaque2:hover {
        -webkit-transform: scale(1.0);
        transform: scale(1.2);
        transition: all 0.5s;
        cursor: pointer;
    }

    .input-pesquisar {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: 85%;
}





