* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

footer {
    display: flex;
    width: 100%;
    height: 12rem;
    justify-content: space-between;
    background-color:black;
    margin-top: 10rem;
    box-shadow: 0px 0px 17px 5px grey;
    padding: 2rem;
    }

.footer-contato{
    color: rgb(255, 242, 242);
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

.footer-imagens{
    width: 4rem;
    height: 2rem;
}

.footer-imagem1{
    width: 2rem;
    height: 2rem;
}

.picture{
    display: flex;
    justify-content: space-around;
}


header {
    width: 100%;
    height: 5rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px gray;

}

.aviao-img {
    width: 8rem;
}

.aviao-img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.3);
    transition: all 0.5s;
    cursor: pointer;
}

.destaque:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: all 0.5s;
    cursor: pointer;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-family: Montserrat, sans-serif;
}

.font-padrao {
    font-family: Montserrat, sans-serif;
    color: #D9D9D9  ;
}

li:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: all 0.5s;
    cursor: pointer;
}

.menu-1 {
    min-width: 30%;
}

.menu-2 {
    height: 80%;
}

.menu-3 {
    min-width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input-pesquisar {
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: 85%;
 
}



.box-contatos {
    min-width: 43%;
}

.box-pagamentos {
    width: 30%;
    border-left: 1px solid rgb(245, 243, 243);
    border-radius: 10px;
    padding-left: 3rem;
}

.pesquisar {
    background-color: white;
    padding: 6px 10px;
    width: 40%;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: space-between;
  }

.margin-contatos {
    min-width: 23rem;
}

.margin-box-pagamentos {
margin-top: 1rem;
display: flex;
gap: 2rem;
}

.espaco-contatos {
    display: flex;
    margin-top: 1rem;
    color: #D9D9D9;
}

.alinhamento-contatos {
    display: flex;
    align-items: center;
}

.align-contato {
    margin-left: 13rem;
}


