* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.main{
        justify-content: space-between;
        display: flex;
        margin-top: 6rem;    
} 

ul a{
    color: black;
}

i{
    color: black;
}

.filter{
    
    border-radius: 5px;
    box-shadow: 0px 0px 17px 5px grey;
    padding: .4rem;
    border-radius: 10px;
    background-color: #D9D9D9;
    letter-spacing: 1px;
    height: auto;
    z-index: 1;
    position: fixed;
}
.filter p{
    margin-bottom: 1rem;
    font-size:1rem; 
    letter-spacing: 1px;
    text-align: center;
    font-family:Montserrat, sans-serif;
}

.input2{
    margin: 8px;
    text-align: center;
    flex-direction: column;
    
}

.input-tamanho{
    display: flex;
    margin: 6px;
    text-align: center;
    gap:8px;
}
.input2 input:hover{
    background-color: #b4b0b0;
    transition: all 0.5s;
    cursor: pointer;
    opacity: 0.4;

}
.limpar{
    font-family:Montserrat, sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 15px;
    border: none;
    padding: 4px;
    background-color: #30b3db;
    border-radius: 4px;
    color: white;
}
.limpar:hover{
    background-color: #b4b0b0;
    transition: all 0.5s;
    cursor: pointer;
}
.produtos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 10px;
    height: auto;
    padding-right: 5rem;
    margin-left: 15rem
}

.destaque2{    
    min-height: 300px;
    width: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.destaque2 img{
    width: auto;
    height: auto;
    max-width:auto;
    max-height:300px;
    min-height:300px; 
    min-width:auto;
    margin-top: 2rem;
    
}
.destaque2 img:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}


.produtos h1{
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 4rem;
}
.produtos button{
    font-family:Montserrat, sans-serif;
    font-size: .9rem;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 15px;
    border: none;
    background-color: #30b3db;
    border-radius: 4px;
    color: white;
    padding: 4px;
font-family: Montserrat, sans-serif;
cursor: pointer;
background-color: #30b3db;
border-radius: 4px;
color: white;
padding: 4px;
letter-spacing: 1px;
}

.truck{
    min-height: 300px;
    width: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap:1rem;
}

.truck img{
    height: 70px;
    gap: 10rem;
    
}
.truck img:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}
.rodas{
    min-height: 300px;
    width: 32%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap:1rem;


}
.rodas img{
    height: 150px;
    gap: 10rem;

}
.rodas img:hover {
    -webkit-transform: scale(1.0);
    transform: scale(1.1);
    transition: all 0.5s;
    cursor: pointer;
}

@media (max-width: 600px){
    .produtos{
        width: 100%;
        margin-left: 11rem
    }

}