ul a {
    color:black;
}
.i-delete {
    margin-left: 2rem;
    color: red;
}

i{
    color: black;
}

.meu-carrinho {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
    letter-spacing: 1rem;
    
}

.box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 3rem;
    margin-top: 4rem;
    font-size: 2rem;
    letter-spacing: 1rem;
    
}

.produto {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 2rem;
    border-top: 1px solid black;
}

img {
    width: 10rem;
    height: 10rem;
}

.valor-produto {
    display: flex;
}


.tamanho-font {
    font-size: 1rem;
}

div.valor-produto p {
    font-size: 15px;
}

.subtotal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
}

.frete {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 3rem;
    margin: 2rem 0;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 3rem;
}

.button-finalizar {
    width: 10rem;
    height: 2rem;
    background-color: #0615e9;
    border-radius: 4px;
    color: white;
}

.button-finalizar:hover{
    background-color: #000983;
    transition: all 0.5s;
    cursor: pointer;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}